.catalog__container {
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 196px);
  justify-content: center;
  gap: 10px;
}

.catalog__btn-add {
  color: #fff;
  grid-column: 1/-1;
  display: flex;
  justify-self: end;
  gap: 8px;
  font-weight: 600;
  padding-top: 16px;
}

.catalog__container:has(> div.catalog__container-error) {
  text-align: center;
  display: block;
}

@media(max-width: 1024px) {
  .catalog__container {
    padding: 0 14px;
    margin-top: 100px;

  }
}

@media (max-width:560px) {
  .catalog__container {
    padding: 0 11px;
    grid-template-columns: repeat(auto-fill, 148px);
    gap: 2px;
    margin-top: 100px;
  }

  .catalog__btn-add {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
    gap: 4;
  }
}

@media (max-width:510px) {
  .catalog__container {
    margin-top: 150px;
  }
}