html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --main-color: #a7a7a7;
  --secondary-color: #ffffff;
  --primary-color: #7927f0;
  --bg-color: #181818;
  --bg-active-color: #2d2d2d
}

body {
  font-family: 'SF UI Display, sans-serif';
  font-style: 16px;
  color: var(--main-color);
  line-height: 1.2;
  min-height: 100vh;
  min-width: 320px;
  background: rgb(4, 4, 4);
  background: linear-gradient(0deg, rgba(14, 14, 14, 1) 90%, rgba(50, 14, 102, 1) 100%);
  padding-bottom: 172px;
}

img,
svg {
  max-width: 100%;
  min-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

@media (max-width: 768px) {
  body {
    margin-bottom: 217px;
  }
}

@media (max-width: 740px) {
  body {
    padding-bottom: 187px;
  }
}