.player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  background-color: var(--bg-color);
  backdrop-filter: blur(6px);
  margin: 0 auto;
  padding: 24px;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.player_active {
  transition: bottom .8 ease-in-out;
  bottom: 0px;
}

.player__container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.player__controller {
  display: flex;
  gap: 15px;
  align-items: center;
}

.player__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  transition: .2s ease-in-out;
  color: var(--main-color);
}

.fa-circle-play,
.fa-circle-pause {
  color: var(--secondary-color);
}

.player__icon:active {
  transform: scale(1.3);
}

.player__icon-active {
  color: var(--primary-color);
}

.player__progress-wrap {
  display: flex;
  align-items: center;
  gap: 7px;
}

.player__progress {
  flex-grow: 1;
  max-width: 487px;
}

.player__progress-input,
.player__volume-input {
  width: 100%;
  padding: 8px 0px 4px 0px;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}

.player__progress-input::-webkit-slider-runnable-track,
.player__volume-input::-webkit-slider-runnable-track {
  background-color: var(--main-color);
  border: none;
  border-radius: 20px;
  height: 6px;
  transition: background-color .2s ease-in-out;
}

.player__volume-input::-webkit-slider-runnable-track {
  height: 0.2em;
}

.player__progress-input::-webkit-slider-thumb,
.player__volume-input::-webkit-slider-thumb {
  margin-top: -5px;
  width: 12px;
  height: 18px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px solid transparent;
  transition: background-color .2s ease-in-out;
  transition: border.2s ease-in-out;
}

.player__volume-input::-webkit-slider-thumb {
  height: 0.8em;
  width: 0.5em;
}

.player__progress-input::-ms-fill-lower {
  background-color: var(--primary-color);
}

.player__progress-input::-ms-fill-upper {
  background-color: var(--bg-color);
}

.player__progress-input:hover::-webkit-slider-runnable-track,
.player__volume-input:hover::-webkit-slider-runnable-track {
  background-color: var(--primary-color);
}

.player__progress-input:hover::-webkit-slider-thumb,
.player__progress-input:focus::-webkit-slider-thumb,
.player__volume-input:hover::-webkit-slider-thumb,
.player__volume-input:focus::-webkit-slider-thumb {
  border-color: #000;
}

.player__volume-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player__volume-input {
  width: 100%;
  height: 100%;
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .player__container {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}

@media (max-width: 968px) {
  .player {
    padding: 22px 80px;
  }

  .player__container {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 27px;
  }

  .player__progress-wrap {
    order: 1;
    grid-column: 1 / -1;
  }

  .player__progress {
    max-width: none;
  }

  .player__container {
    justify-self: center;
  }

  .player__volume-wrap {
    justify-self: end;
  }
}

@media (max-width: 740px) {
  .player {
    border-radius: 20px 20px 0 0;
  }

  .player_active {
    bottom: 0;
  }

  .player__container {
    grid-template-columns: 1fr 1fr;
    row-gap: 27px;
  }

  .player__progress-wrap {
    padding-left: 0;
  }

  .player__volume-wrap {
    display: none;
  }

  .player__container {
    justify-self: end;
  }
}

@media (max-width: 560px) {
  .player {
    left: 0;
    right: 0;
    padding: 16px 15px;
    gap: 16px;
  }

  .track-info_mobile-center {
    text-align: center;
  }

  .player__container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .player__controller {
    justify-self: center;
  }

}